/* app/styles/globals.scss */
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Optionally set other styles for body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; /* Set the font for the whole body */
}

h1,h2,h3{
  font-size: bold;
  color: $color-primary;
  letter-spacing: 1.2px;
}

h1{
  font-size: 32px;
}
h2{
  font-size: 24px;
}
h5{
  font-size: 20px;
}

p{
  font-size: 16px;
  color: $color-secondary;
}

input{
  &:focus{
    border: 0;
    outline: none;
    box-shadow: none;
  }
 
}