@import url(./globals.scss);

$font-primary:"Roboto";
$font-secondary:"Roboto Bold";

$color-primary:black;
$color-secondary:#565E59;
$color-white:#fff;
$color-border: #E0E3E2;
$color-grey:#ADB4AF;
$color-light: #F9F9F9;

$screen-md: 767px;
$screen-lg: 1024px;
$screen-xl: 1200px;
$screen-2xl: 1400px;
$screen-3xl: 1600px;
$screen-4xl: 1800px;